<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">3 Idiots</h2>

<img src="/img/3idiots/main.jpeg"  alt="3 Idiots" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Family, Comedy</p>
<br>
<p> <b>Stars:</b> Aamir Khan, Madhavan, Mona Singh</p>
<br>
<p><b>Direction:</b>  Rajkumar Hirani</p>
<br>
<p><b> Writers:</b> Abhijat Joshi(story), Rajkumar Hirani(screenplay) & Abhijat Joshi(screenplay), 
    Vidhu Vinod Chopra(screenplay associate),
    Chetan Bhagat(based on the novel 'Five Point Someone' by)</p>
<br>
<p>
    "A pair of friends are looking for their long-lost friend. They reminisce back on their time in college and remember their friend who encouraged them to think outside the box despite being labeled "idiots" by others."
</p>