<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">BayWatch</h2>

<img src="/img/baywatch/main.jpeg"  alt="Cellular" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Action, Comedy, Crime</p>
<br>
<p> <b>Stars:</b> Dwayne Johnson, Zac Efron, Alexandra Daddario</p>
<br>
<p><b>Direction:</b>Seth Gordon</p>
<br>
<p><b> Writers:</b> 
    Michael Berk, Douglas Schwartz, Gregory J. Bonann</p>
<br>
<p>
    "A brazen new recruit and devoted lifeguard Mitch Buchannon butt heads over a criminal conspiracy that threatens the bay's existence."
</p>