<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">Cellular</h2>

<img src="/img/cellular/main.jpeg"  alt="Cellular" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Action, Thriller, Crime</p>
<br>
<p> <b>Stars:</b> Kim Basinger, Chris Evans, Jason Statham</p>
<br>
<p><b>Direction:</b>David R. Ellis</p>
<br>
<p><b> Writers:</b> Larry Cohen, Chris Morgan</p>
<br>
<p>
    "An elderly woman calls a young man on his cell phone in an emergency. The drawback? The woman says she was abducted, and her husband and child are the next victims of the abductors."
</p>