<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">Deadpool 3</h2>

<img src="/img/deadpool3/main.jpeg"  alt="Deadpool 3" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Action, Adventure, Crime, Superhero, Buddy Comedy, Raunchy Comdy, Sci-fi</p>
<br>
<p> <b>Stars:</b> Ryan Reynolds, Hugh Jackman, Emma Corrin</p>
<br>
<p><b>Direction:</b>   Shawn Levy</p>
<br>
<p><b> Writers:</b> 
    Ryan Reynolds, Rhett Reese, Paul Wernick</p>
<br>
<p>
    "As Wolverine encounters the gregarious Deadpool, he is still healing from his wounds. They cooperate to combat a shared foe."
</p>