<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">The Fall Guy</h2>

<img src="/img/fallguy/main.jpeg"  alt="The Fall Guy" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Action, Comedy, Drama, Romance</p>
<br>
<p> <b>Stars:</b> Ryan Gosling, Emily Blunt, Aaron Taylor-Johnson</p>
<br>
<p><b>Direction:</b>   David Leitch</p>
<br>
<p><b> Writers:</b> Glen A. Larson, Drew Pearce</p>
<br>
<p>
    "A broke stuntman has to track down the missing star of the big-budget movie that his ex-girlfriend starred in."
</p>