<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">Finding Nemo </h2>

<img src="/img/findingnemo/main.jpeg"  alt="Finding Nemo " class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Animal Advendure, Buddy Comedy, Computer Animation, Quest, Sea Advendure, Advendure, Animation, Family, Comedy</p>
<br>
<p> <b>Stars:</b> Albert Brooks, Ellen DeGeneres, Alexander Gould</p>
<br>
<p><b>Direction:</b>  Andrew Stanton, Lee Unkrich</p>
<br>
<p><b> Writers:</b> Andrew Stanton, Bob Peterson, David Reynolds</p>
<br>
<p>
    "After his son is captured in the Great hedge Reef and taken to Sydney, a skittish clownfish sets out on a trip to bring him home."
</p>