<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">Piranha 3D </h2>

<img src="/img/piranah/main.jpeg"  alt="Piranha 3D" class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Comdy, Horror </p>
<br>
<p> <b>Stars:</b>Elisabeth Shue, Jerry O'Connell, Richard Dreyfuss</p>
<br>
<p><b>Direction:</b>  Alexandre Aja</p>
<br>
<p><b> Writers:</b>Pete Goldfinger, Josh Stolberg</p>
<br>
<p>
    "After a unforeseen aquatic earthquake sets free scores of the neolithic man- eating fish, an doubtful group of nonnatives must band together to stop themselves from getting fish food for the area's new razor- toothed residers."
</p>