<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">The Nun </h2>

<img src="/img/thenun/main.jpeg"  alt="The Nun " class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Supernatural Horror, Horror, Mystery, Thriller</p>
<br>
<p> <b>Stars:</b> 
    Demián Bichir, Taissa Farmiga, Jonas Bloquet</p>
<br>
<p><b>Direction:</b>  Corin Hardy</p>
<br>
<p><b> Writers:</b> Gary Dauberman, James Wan</p>
<br>
<p>
    "A clerk with a haunted history and a neophyte on the threshold of her final promises are transferred by the Vatican to probe the death of a youthful nun in Romania and defy a malignant force in the form of a satanic nun."
</p>