<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">V</h2>

<img src="/img/v/main.jpeg"  alt="V " class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Political Thriller, Dystopian SciFi, Superhero, Action, Drama, SciFi, Thriller</p>
<br>
<p> <b>Stars:</b> 
    Hugo Weaving, Natalie Portman, Rupert Graves
</p>
<br>
<p><b>Direction:</b>  James McTeigue
</p>
<br>
<p><b> Writers:</b> Lilly Wachowski, Lana Wachowski, David Lloyd
</p>
<br>
<p>
    "In a future British dystopian institution, a hazy freedom fighter, famous only apiece alias of "V", plots to defeat the oppressive government - by way of a maiden."
</p>