<br>
<br>
<br>
<br>

<h2 class="movieHeadlines">Zodiac </h2>

<img src="/img/zodiac/main.jpeg"  alt="Zodiac " class="Mainimage" width="981" height="528">

<br>
<br>

<h2 class="movieHeadlines"> Description</h2>

<br>
<p> <b>Genre:</b> Cop Drama, Epi, Police Procedural, Serial Killer, True Crime, Whodunnit, Crime, Drama, Mystery, Thriller</p>
<br>
<p> <b>Stars:</b> 
    Jake Gyllenhaal, Robert Downey Jr., Mark Ruffalo</p>
<br>
<p><b>Direction:</b>  David Fincher</p>
<br>
<p><b> Writers:</b> James Vanderbilt, Robert Graysmith</p>
<br>
<p>
    "Between 1968 and 1983, a San Francisco illustrator enhances an amateur private investigator desire accompanying following the Zodiac Killer, an unidentified individual the one terrorizes Northern California accompanying a murder celebration."
</p>